# Directories
.run/
.vs/
**/obj/
**/bin/
**/build/
run_tree/

# Files
*.sln
*.user
*.vcxproj
*.filters
*.cache
*.csproj
Makefile

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
