# Directories
.run/
.vs/
**/obj/
**/bin/
**/build/

# Files
*.sln
*.user
*.vcxproj
*.filters
*.cache
*.csproj
Makefile

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Run-Tree
run_tree/*.exe
run_tree/*.dll
run_tree/*.world
run_tree/data/managed/
