# Directories
.vs/
build/

# Files
*.sln
*.user
*.vcxproj
*.filters
*.cache
Makefile

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Run-Tree
run_tree/*.exe
run_tree/*.dll
run_tree/*.world